@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'DM Sans', sans-serif;
  font-size: 1.125rem;
  background-color: #000;
  color: #ffffff;
}
